body {
    /* */
    background-color: white;
    color: #FFFFFF;

    font-family: monospace;
    font-size: 1em;

}

h1 {

  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-top: 0%;
  text-align : center;
  color: gray;
}

.form_input{
  margin-bottom:25%;
  padding-left : 5%;
  font-size : 1em;
  color : gray;

}

.form_input .error li{
  font-family: 'Courier', sans-serif;
  font-size : 1em;
  color : red;

}

.form_input #form_label{

  font-size : 1.5em;
  color : gray;

}

.form_input #grocery_item_name{

width:400px;
height:20px;
}

.form_input .input_button #submit_button{

  margin-left:3em; 
  font-family: 'Oswald', sans-serif;
  width:10em;
  font-size:1.5em;
  color:blue;
  background-color:white;
  border:hidden;

}

.form_input .input_button #submit_button:hover {
color:#ADD8E6;
}

li {
    background-color: white;
    color: #FFFFFF;
    /* Add a bit more spacing between list items. */
    padding: 1px;
    list-style-type: none;
}

.main_container{
color:black;
}

.item_container{
  padding-left:5%;
  height : 75px;
  width: 200px;
  word-wrap: break-word; width: 300px;
  
}

.item_container > h2{
font-family: 'Oswald', sans-serif;
color : gray;
font-size: 1.25em;
}

.item_container > p{
  
  font-size: 1.5em;
  color: black;
}

